### Assignment 5 - Pandas - new

### Learning Outcomes Addressed 
Analyse the patient arrival dataset of Singapore's major public hospitals using Pandas

### Assignment Instructions
In this assignment, you will analyse the patient arrival dataset of Singapore's major public hospitals.

In [1]:
import os
cwd = os.getcwd()

In [2]:
cwd

'C:\\Users\\z0024yfj\\Documents\\01_Assignment'

In [3]:
import pandas as pd
df = pd.read_csv('EDdata_new.csv')

In [4]:
df

,Case,Hospital_Name,REGIS_DATE,REGIS_TIME,reg_sec,Triage Time,triage_sec,Triage_Class,Age,Gender,Race
0,92408,KTPH,7/4/2012,9:48:33,35313,9:58:12,35892,P2,40.0,M,Chinese
1,54452,KKH,7/10/2011,16:21:05,58865,16:23:42,59022,P2,0.0,M,Chinese
2,28303,CGH,3/10/2011,3:57:45,14265,4:00:00,14400,P3,33.0,M,Indian
3,121169,SGH,16/10/2011,4:08:47,14927,4:10:00,15000,P3,53.0,F,Malay
4,146488,TTSH,24/10/2011,3:09:47,11387,3:14:21,11661,P3,23.0,M,Others
...,...,...,...,...,...,...,...,...,...,...,...
41827,38592,CGH,29/10/2011,14:07:15,50835,14:17:00,51420,P2,82.0,F,Chinese
41828,20523,AH,2/10/2011,7:18:06,26286,7:18:00,26280,P1,88.0,F,Chinese
41829,30317,CGH,8/10/2011,12:59:42,46782,12:59:00,46740,P2,59.0,M,Malay
41830,126705,SGH,31/10/2011,9:55:18,35718,10:06:00,36360,P3,54.0,F,Chinese
41831,110904,NUH,11/4/2012,11:20:27,40827,12:11:00,43860,P3,19.0,F,Chinese

In [8]:
# You can assign a column in the dataset as the row index lables.
df = pd.read_csv('EDdata_new.csv', index_col = 'Case')

In [6]:
df.head(10)

,Case,Hospital_Name,REGIS_DATE,REGIS_TIME,reg_sec,Triage Time,triage_sec,Triage_Class,Age,Gender,Race
0,92408,KTPH,7/4/2012,9:48:33,35313,9:58:12,35892,P2,40.0,M,Chinese
1,54452,KKH,7/10/2011,16:21:05,58865,16:23:42,59022,P2,0.0,M,Chinese
2,28303,CGH,3/10/2011,3:57:45,14265,4:00:00,14400,P3,33.0,M,Indian
3,121169,SGH,16/10/2011,4:08:47,14927,4:10:00,15000,P3,53.0,F,Malay
4,146488,TTSH,24/10/2011,3:09:47,11387,3:14:21,11661,P3,23.0,M,Others
5,93761,KTPH,11/4/2012,0:13:43,823,2:51:08,10268,P3,21.0,M,Chinese
6,95762,KTPH,16/04/2012,23:14:41,83681,1:05:13,3913,P2,47.0,M,Chinese
7,149941,TTSH,2/4/2012,10:12:32,36752,10:15:06,36906,P3,48.0,F,Others
8,23665,AH,29/10/2011,13:43:40,49420,13:49:00,49740,P2,43.0,M,Malay
9,12883,SGH,11/10/2011,6:23:14,22994,6:28:00,23280,P2,44.0,M,Malay

In [9]:
# identify first row 
df.loc[92408]

Hospital_Name        KTPH
REGIS_DATE       7/4/2012
REGIS_TIME        9:48:33
reg_sec             35313
Triage Time       9:58:12
triage_sec          35892
Triage_Class           P2
Age                  40.0
Gender                  M
Race              Chinese
Name: 92408, dtype: object

In [10]:
df.shape

(41832, 10)

In [11]:
df.dtypes

Hospital_Name     object
REGIS_DATE        object
REGIS_TIME        object
reg_sec            int64
Triage Time       object
triage_sec         int64
Triage_Class      object
Age              float64
Gender            object
Race              object
dtype: object

In [13]:
df.reset_index(inplace = True)

In [14]:
df.iloc[0] # You can use the traditional row index to do indexing

index                   0
Case                92408
Hospital_Name        KTPH
REGIS_DATE       7/4/2012
REGIS_TIME        9:48:33
reg_sec             35313
Triage Time       9:58:12
triage_sec          35892
Triage_Class           P2
Age                  40.0
Gender                  M
Race              Chinese
Name: 0, dtype: object

### Case Questions

### Question 1
Do male Singaporeans have preferences over different hospitals to attend in case of an emergency? Please remember to delete the patient visits to (KKH in the dataset KKH is a Women's and Children's hospital.) If an emergency happens, the male patient will basically not be sent to KKH.

In [25]:
males = df['Gender']
print(males)

0        M
1        M
2        M
3        F
4        M
        ..
41827    F
41828    F
41829    M
41830    F
41831    F
Name: Gender, Length: 41832, dtype: object

In [26]:
males.index

RangeIndex(start=0, stop=41832, step=1)

In [27]:
males.values

array(['M', 'M', 'M', ..., 'M', 'F', 'F'], dtype=object)

In [28]:
type(males)

pandas.core.series.Series

In [33]:
person_hospital = df[['Gender','Hospital_Name']]
type(person_hospital)

pandas.core.frame.DataFrame

In [34]:
person_hospital.dtypes

Gender           object
Hospital_Name    object
dtype: object

In [35]:
person_hospital['Gender']

0        M
1        M
2        M
3        F
4        M
        ..
41827    F
41828    F
41829    M
41830    F
41831    F
Name: Gender, Length: 41832, dtype: object

In [39]:
print(person_hospital['Gender'][5])

M

In [40]:
print(person_hospital['Hospital_Name'][5])

KTPH

In [42]:
cols_need = ['Hospital_Name','Gender','REGIS_TIME','REGIS_DATE']
df_short = df[cols_need]
df_short.head(4)

  Hospital_Name Gender REGIS_TIME  REGIS_DATE
0          KTPH      M    9:48:33    7/4/2012
1           KKH      M   16:21:05   7/10/2011
2           CGH      M    3:57:45   3/10/2011
3           SGH      F    4:08:47  16/10/2011

In [44]:
# Combine slicing to obtain the even rows of the data set only
df_short2 = df[cols_need][::2] #start:end: step_size, note that end is exclusive
df_short2.head(4)

  Hospital_Name Gender REGIS_TIME  REGIS_DATE
0          KTPH      M    9:48:33    7/4/2012
2           CGH      M    3:57:45   3/10/2011
4          TTSH      M    3:09:47  24/10/2011
6          KTPH      M   23:14:41  16/04/2012

In [45]:
# Combine slicing to obtain the odd rows of the data set only
df_short2 = df[cols_need][1::2] #start:end: step_size, note that end is exclusive
df_short2.head(4)

  Hospital_Name Gender REGIS_TIME  REGIS_DATE
1           KKH      M   16:21:05   7/10/2011
3           SGH      F    4:08:47  16/10/2011
5          KTPH      M    0:13:43   11/4/2012
7          TTSH      F   10:12:32    2/4/2012

In [47]:
df_short2.loc[5]

Hospital_Name         KTPH
Gender                   M
REGIS_TIME         0:13:43
REGIS_DATE       11/4/2012
Name: 5, dtype: object

In [50]:
df_short2.loc[:,'Hospital_Name']

1         KKH
3         SGH
5        KTPH
7        TTSH
9         SGH
         ...
41823    TTSH
41825    TTSH
41827     CGH
41829     CGH
41831     NUH
Name: Hospital_Name, Length: 20916, dtype: object

In [55]:
df.iloc[5,3]

'11/4/2012'

In [67]:
# Step 1: Create the filter, Boolean Series
Gender_filter = df['Gender'] == 'M' # We call this Boolean Series as a filter
print(Gender_filter.head(10),'\n')
print(df['Gender'].head(10))

0     True
1     True
2     True
3    False
4     True
5     True
6     True
7    False
8     True
9     True
Name: Gender, dtype: bool

0    M
1    M
2    M
3    F
4    M
5    M
6    M
7    F
8    M
9    M
Name: Gender, dtype: object

In [72]:
# Step 2 (Method 1): Subset your data by using indexing operator
Gender_df_1 = df[:][Gender_filter]
print(Gender_df_1.shape,'\n')
Gender_df_1.head()

(24761, 12)

,index,Case,Hospital_Name,REGIS_DATE,REGIS_TIME,reg_sec,Triage Time,triage_sec,Triage_Class,Age,Gender,Race
0,0,92408,KTPH,7/4/2012,9:48:33,35313,9:58:12,35892,P2,40.0,M,Chinese
1,1,54452,KKH,7/10/2011,16:21:05,58865,16:23:42,59022,P2,0.0,M,Chinese
2,2,28303,CGH,3/10/2011,3:57:45,14265,4:00:00,14400,P3,33.0,M,Indian
4,4,146488,TTSH,24/10/2011,3:09:47,11387,3:14:21,11661,P3,23.0,M,Others
5,5,93761,KTPH,11/4/2012,0:13:43,823,2:51:08,10268,P3,21.0,M,Chinese

In [74]:
# Step 2 (Method 2): Subset your data by using .loc indexer
Gender_df_2 = df.loc[Gender_filter,:]
print(Gender_df_2.shape,'\n')
Gender_df_2.head()

(24761, 12)

,index,Case,Hospital_Name,REGIS_DATE,REGIS_TIME,reg_sec,Triage Time,triage_sec,Triage_Class,Age,Gender,Race
0,0,92408,KTPH,7/4/2012,9:48:33,35313,9:58:12,35892,P2,40.0,M,Chinese
1,1,54452,KKH,7/10/2011,16:21:05,58865,16:23:42,59022,P2,0.0,M,Chinese
2,2,28303,CGH,3/10/2011,3:57:45,14265,4:00:00,14400,P3,33.0,M,Indian
4,4,146488,TTSH,24/10/2011,3:09:47,11387,3:14:21,11661,P3,23.0,M,Others
5,5,93761,KTPH,11/4/2012,0:13:43,823,2:51:08,10268,P3,21.0,M,Chinese

In [78]:
Gender_filter.values

array([ True,  True,  True, ...,  True, False, False])

In [1]:
# Step 2 (Method 3): Subset your data by using .iloc indexer
Gender_df_3 = df.iloc[Gender_filter, :]
print(Gender_df_3.shape,'\n')
Gender_df_3.head()

NameError: name 'df' is not defined

In [3]:
Gender_filter = df.iloc[Gender_filter.values, :]
Gender_filter.head()

NameError: name 'df' is not defined

In [31]:
import os
cwd = os.getcwd()
import pandas as pd
df = pd.read_csv('EDdata_new.csv')
criter1 = df.Gender == "M"
criter2 = df.Hospital_Name != "KKH"
print(df.Age > 45)
print(df[criter1 & criter2])

0        False
1        False
2        False
3         True
4        False
         ...
41827     True
41828     True
41829     True
41830     True
41831    False
Name: Age, Length: 41832, dtype: bool
         Case Hospital_Name  REGIS_DATE REGIS_TIME  reg_sec Triage Time  \
0       92408          KTPH    7/4/2012    9:48:33    35313     9:58:12
2       28303           CGH   3/10/2011    3:57:45    14265     4:00:00
4      146488          TTSH  24/10/2011    3:09:47    11387     3:14:21
5       93761          KTPH   11/4/2012    0:13:43      823     2:51:08
6       95762          KTPH  16/04/2012   23:14:41    83681     1:05:13
...       ...           ...         ...        ...      ...         ...
41819   41738           CGH    6/4/2012   14:41:57    52917    14:45:00
41820   94560          KTPH  13/04/2012   15:32:04    55924    16:07:46
41823  152502          TTSH    9/4/2012    8:43:28    31408     8:47:51
41824  100722           NUH   2/10/2011   14:49:36    53376    15:18:00
41829   30317           CGH   8/10/2011   12:59:42    46782    12:59:00

       triage_sec Triage_Class    Age Gender     Race
0           35892            P2  40.0      M  Chinese
2           14400            P3  33.0      M   Indian
4           11661            P3  23.0      M   Others
5           10268            P3  21.0      M  Chinese
6            3913            P2  47.0      M  Chinese
...           ...           ...   ...    ...      ...
41819       53100            P3  23.0      M  Chinese
41820       58066            P3  73.0      M  Chinese
41823       31671            P2  37.0      M    Malay
41824       55080            P3  21.0      M  Chinese
41829       46740            P2  59.0      M    Malay

[20330 rows x 11 columns]

###Question 1

In [32]:
import os
cwd = os.getcwd()
import pandas as pd
df = pd.read_csv('EDdata_new.csv')
criter1 = df.Gender == "M"
criter2 = df.Hospital_Name != "KKH"
print(df[criter1 & criter2])

         Case Hospital_Name  REGIS_DATE REGIS_TIME  reg_sec Triage Time  \
0       92408          KTPH    7/4/2012    9:48:33    35313     9:58:12
2       28303           CGH   3/10/2011    3:57:45    14265     4:00:00
4      146488          TTSH  24/10/2011    3:09:47    11387     3:14:21
5       93761          KTPH   11/4/2012    0:13:43      823     2:51:08
6       95762          KTPH  16/04/2012   23:14:41    83681     1:05:13
...       ...           ...         ...        ...      ...         ...
41819   41738           CGH    6/4/2012   14:41:57    52917    14:45:00
41820   94560          KTPH  13/04/2012   15:32:04    55924    16:07:46
41823  152502          TTSH    9/4/2012    8:43:28    31408     8:47:51
41824  100722           NUH   2/10/2011   14:49:36    53376    15:18:00
41829   30317           CGH   8/10/2011   12:59:42    46782    12:59:00

       triage_sec Triage_Class    Age Gender     Race
0           35892            P2  40.0      M  Chinese
2           14400            P3  33.0      M   Indian
4           11661            P3  23.0      M   Others
5           10268            P3  21.0      M  Chinese
6            3913            P2  47.0      M  Chinese
...           ...           ...   ...    ...      ...
41819       53100            P3  23.0      M  Chinese
41820       58066            P3  73.0      M  Chinese
41823       31671            P2  37.0      M    Malay
41824       55080            P3  21.0      M  Chinese
41829       46740            P2  59.0      M    Malay

[20330 rows x 11 columns]

In [35]:
fil_1 = criter1&criter2
df_male = df.loc[fil_1].copy()
print(df_male)

         Case Hospital_Name  REGIS_DATE REGIS_TIME  reg_sec Triage Time  \
0       92408          KTPH    7/4/2012    9:48:33    35313     9:58:12
2       28303           CGH   3/10/2011    3:57:45    14265     4:00:00
4      146488          TTSH  24/10/2011    3:09:47    11387     3:14:21
5       93761          KTPH   11/4/2012    0:13:43      823     2:51:08
6       95762          KTPH  16/04/2012   23:14:41    83681     1:05:13
...       ...           ...         ...        ...      ...         ...
41819   41738           CGH    6/4/2012   14:41:57    52917    14:45:00
41820   94560          KTPH  13/04/2012   15:32:04    55924    16:07:46
41823  152502          TTSH    9/4/2012    8:43:28    31408     8:47:51
41824  100722           NUH   2/10/2011   14:49:36    53376    15:18:00
41829   30317           CGH   8/10/2011   12:59:42    46782    12:59:00

       triage_sec Triage_Class    Age Gender     Race
0           35892            P2  40.0      M  Chinese
2           14400            P3  33.0      M   Indian
4           11661            P3  23.0      M   Others
5           10268            P3  21.0      M  Chinese
6            3913            P2  47.0      M  Chinese
...           ...           ...   ...    ...      ...
41819       53100            P3  23.0      M  Chinese
41820       58066            P3  73.0      M  Chinese
41823       31671            P2  37.0      M    Malay
41824       55080            P3  21.0      M  Chinese
41829       46740            P2  59.0      M    Malay

[20330 rows x 11 columns]

In [37]:
hosp_name = df_male['Hospital_Name'].unique()
print(hosp_name)

['KTPH' 'CGH' 'TTSH' 'AH' 'SGH' 'NUH']

In [43]:
out_table = dict.fromkeys(hosp_name,0)
print(out_table)

{'KTPH': 0, 'CGH': 0, 'TTSH': 0, 'AH': 0, 'SGH': 0, 'NUH': 0}

In [57]:
for h in hosp_name:
    filter_hos = df.Hospital_Name == h
    print(df.loc[filter_hos].sum())
    out_table[h]=df.loc[filter_hos].sum()
result = out_table

Case                                                     469796641
Hospital_Name    KTPHKTPHKTPHKTPHKTPHKTPHKTPHKTPHKTPHKTPHKTPHKT...
REGIS_DATE       7/4/201211/4/201216/04/20125/4/20121/4/201215/...
REGIS_TIME       9:48:330:13:4323:14:4116:03:3014:03:5823:38:58...
reg_sec                                                  300303914
Triage Time      9:58:122:51:081:05:1316:16:5014:45:5923:56:041...
triage_sec                                               294123130
Triage_Class     P2P3P2P2P3P3P3P2P2P2P2P3P3P3P3P2P3P3P3P2P2P3P2...
Age                                                       238752.0
Gender           MMMMMFMMFMMFMFFMMMMMFMFMMMMMMMFFFMMFMMMMMFMMFM...
Race             ChineseChineseChineseMalayOthersChineseChinese...
dtype: object
Case                                                     242327958
Hospital_Name    CGHCGHCGHCGHCGHCGHCGHCGHCGHCGHCGHCGHCGHCGHCGHC...
REGIS_DATE       3/10/201118/04/20127/10/20118/4/201211/10/2011...
REGIS_TIME       3:57:453:53:5616:20:260:07:4618:42:3817:49:591...
reg_sec                                                  352390495
Triage Time      4:00:004:06:0016:34:000:22:0018:41:0018:18:001...
triage_sec                                               353008860
Triage_Class     P3P1P2P2P3P3P3P2P3P2P2P3P1P2P3P3P2P3P3P3P3P3P2...
Age                                                       300667.0
Gender           MMMMFMFFMMMMFMMMMMFMFFFFMMFMMMMMFFMFMFMMFMMMFM...
Race             IndianChineseMalayChineseMalayChineseChineseCh...
dtype: object
Case                                                     933398528
Hospital_Name    TTSHTTSHTTSHTTSHTTSHTTSHTTSHTTSHTTSHTTSHTTSHTT...
REGIS_DATE       24/10/20112/4/20124/10/201114/10/201128/10/201...
REGIS_TIME       3:09:4710:12:3213:53:4013:49:179:58:0021:53:53...
reg_sec                                                  367775281
Triage Time      3:14:2110:15:0613:57:4013:57:5410:08:3922:03:0...
triage_sec                                               368943766
Triage_Class     P3P3P3P3P2P2P2P3P3P3P3P3P2P2P3P3P3P3P2P2P2P2P2...
Age                                                       360117.0
Gender           MFMMFMFFMMMMFFFMMFMFMMFFFFFFFMMMMMMFMFMFMMFMFM...
Race             OthersOthersOthersMalayChineseOthersChineseChi...
dtype: object
Case                                                      45428690
Hospital_Name    AHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAH...
REGIS_DATE       29/10/201119/04/20129/10/20119/4/201228/10/201...
REGIS_TIME       13:43:4014:36:0619:47:1416:23:0822:45:0718:10:...
reg_sec                                                  103647189
Triage Time      13:49:0014:36:0019:55:0016:24:0022:45:3418:13:...
triage_sec                                               103420011
Triage_Class     P2P3P3P3P3P2P3P3P3P2P2P2P2P2P3P3P2P2P3P3P3P3P2...
Age                                                        85631.0
Gender           MMMMMMMMMFMFFFMMFFFMFMMFFFFMMFMMFFFFMFMMMFMMMM...
Race             MalayOthersChineseChineseOthersChineseIndianOt...
dtype: object
Case                                                     738657696
Hospital_Name    SGHSGHSGHSGHSGHSGHSGHSGHSGHSGHSGHSGHSGHSGHSGHS...
REGIS_DATE       16/10/201111/10/20113/10/20116/10/201129/10/20...
REGIS_TIME       4:08:476:23:1416:25:3817:13:1721:44:2410:26:15...
reg_sec                                                  325038103
Triage Time      4:10:006:28:0016:33:0017:20:0021:44:0010:46:00...
triage_sec                                               326021940
Triage_Class     P3P2P3P3P2P2P2P3P3P3P3P3P3P2P2P3P3P3P2P2P3P3P3...
Age                                                       319845.0
Gender           FMMFMFMMMFMMMFFFMFMMFMFMMFMMFMFFFMMMFMFFMFMMMM...
Race             MalayMalayChineseChineseChineseChineseChineseC...
dtype: object
Case                                                     430222499
Hospital_Name    NUHNUHNUHNUHNUHNUHNUHNUHNUHNUHNUHNUHNUHNUHNUHN...
REGIS_DATE       28/04/201223/10/201116/10/201130/04/201227/04/...
REGIS_TIME       23:33:109:30:3114:10:0311:34:0422:34:2015:33:0...
reg_sec                                                  243605068
Triage Time      0:57:0010:02:0014:36:0011:56:000:10:0016:21:00...
triage_sec                                               242544111
Triage_Class     P2P2P2P2P2P3P2P3P3P3P2P3P2P1P3P3P2P1P3P2P2P2P2...
Age                                                       214453.0
Gender           MMFMMFMFMFFFFMMFFMMFFMMMMMFMMMFFFMFFFMFMMMMMFF...
Race             OthersChineseOthersChineseChineseOthersChinese...
dtype: object

In [56]:
result=pd.Series(out_table)
print(result)

KTPH    Case                                          ...
CGH     Case                                          ...
TTSH    Case                                          ...
AH      Case                                          ...
SGH     Case                                          ...
NUH     Case                                          ...
dtype: object

In [62]:
male_patients = df.Gender == 'M'
print(male_patients)

0         True
1         True
2         True
3        False
4         True
         ...
41827    False
41828    False
41829     True
41830    False
41831    False
Name: Gender, Length: 41832, dtype: bool

In [61]:
grpy = df.groupby('Hospital_Name')
print(grpy)
for h, group in grpy:
    print(h)
    print()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002B792A3FAC0>
AH

CGH

KKH

KTPH

NUH

SGH

TTSH

In [63]:
cols_need = ['Hospital_Name','Gender']
df_short = df[cols_need]
print(df_short)

      Hospital_Name Gender
0              KTPH      M
1               KKH      M
2               CGH      M
3               SGH      F
4              TTSH      M
...             ...    ...
41827           CGH      F
41828            AH      F
41829           CGH      M
41830           SGH      F
41831           NUH      F

[41832 rows x 2 columns]

In [83]:
## new Question 1 

Gender_filter = df_short['Gender'] == 'M'
hosp_filter = df_short['Hospital_Name'] != 'KKH'
df_short_males = df_short.loc[Gender_filter, :]
df_short_hosp = df_short_males.loc[hosp_filter, :]
# print(df_short_males)
print(df_short_hosp)
hosp_name = df_male['Hospital_Name'].unique()
# print(hosp_name)

grpy = df_short_hosp.groupby('Hospital_Name').count()
print(grpy)
# for h, group in grpy:
#    print(h)
#    print(group)

      Hospital_Name Gender
0              KTPH      M
2               CGH      M
4              TTSH      M
5              KTPH      M
6              KTPH      M
...             ...    ...
41819           CGH      M
41820          KTPH      M
41823          TTSH      M
41824           NUH      M
41829           CGH      M

[20330 rows x 2 columns]
               Gender
Hospital_Name
AH               1433
CGH              4301
KTPH             3886
NUH              2904
SGH              3435
TTSH             4371

In [99]:
## Question 2

df['wait_time'] = 0
n_pat = len(df)
df_reg = df['reg_sec']
df_tri = df['triage_sec']
df_wait = df['wait_time']

df_wait = 24*60*60 - df_reg + df_tri
filt_1 = df['triage_sec'] > df['reg_sec']
df_wait [filt_1] = df_tri [filt_1] - df_reg [filt_1]

df ['wait_time'] = df_wait
df['wait_min'] = df_wait/60
df.head()

,Case,Hospital_Name,REGIS_DATE,REGIS_TIME,reg_sec,Triage Time,triage_sec,Triage_Class,Age,Gender,Race,wait_time,wait_min
0,92408,KTPH,7/4/2012,579,35313,9:58:12,35892,P2,40.0,M,Chinese,579,9.650000
1,54452,KKH,7/10/2011,157,58865,16:23:42,59022,P2,0.0,M,Chinese,157,2.616667
2,28303,CGH,3/10/2011,135,14265,4:00:00,14400,P3,33.0,M,Indian,135,2.250000
3,121169,SGH,16/10/2011,73,14927,4:10:00,15000,P3,53.0,F,Malay,73,1.216667
4,146488,TTSH,24/10/2011,274,11387,3:14:21,11661,P3,23.0,M,Others,274,4.566667

In [101]:
hos_subset=[]
for hos in df['Hospital_Name'].unique():
    hos_subset.append(df.loc[df['Hospital_Name']==hos, 'wait_min'])

df_hos=pd.DataFrame(hos_subset,index=df['Hospital_Name'].unique())
df_hos.transpose().describe()

,KTPH,KKH,CGH,SGH,TTSH,AH,NUH
count,6002.000000,7897.000000,7064.000000,6482.000000,7423.000000,2100.000000,4864.000000
mean,34.179762,7.077221,174.935742,99.166505,7.473360,594.082714,42.252752
std,27.340213,17.836609,450.748449,350.262948,6.244866,704.937491,68.331628
min,0.333333,0.016667,0.016667,0.016667,0.083333,0.050000,0.016667
25%,14.404167,1.233333,5.745833,2.433333,3.566667,4.445833,17.200000
50%,26.533333,4.166667,12.400000,5.700000,6.083333,11.000000,31.291667
75%,46.379167,9.816667,25.137500,12.133333,9.625000,1439.400000,53.441667
max,194.416667,1438.150000,1440.000000,1440.000000,127.316667,1440.000000,1440.000000

In [103]:
filter_check = df['wait_min'] >300
df_check = df.loc [filter_check]
df_check.head()

,Case,Hospital_Name,REGIS_DATE,REGIS_TIME,reg_sec,Triage Time,triage_sec,Triage_Class,Age,Gender,Race,wait_time,wait_min
26,126209,SGH,29/10/2011,86376,78264,21:44:00,78240,P2,31.0,M,Chinese,86376,1439.600000
42,26102,AH,19/04/2012,86394,52566,14:36:00,52560,P3,26.0,M,Others,86394,1439.900000
50,31739,CGH,11/10/2011,86302,67358,18:41:00,67260,P3,31.0,F,Malay,86302,1438.366667
69,29179,CGH,5/10/2011,86279,33361,9:14:00,33240,P3,21.0,M,Chinese,86279,1437.983333
75,2057,CGH,19/10/2011,86380,22880,6:21:00,22860,P2,30.0,M,Chinese,86380,1439.666667

In [ ]:
## Question 3

To make a staffing plan, which decides the number of nurses and doctors needed to serve patients, a deep understanding of patient arrivals is crucial. The staffing plan in practice will be made on an hourly basis (24 intervals) every day. Thus, please create a new column, REGIS_HOUR in df. Moreover, the patientsâ€™ arrival pattern may vary by the day of a month. Please also create a new column, REGIS_DAY in df.

In [109]:
import numpy as np
date = np.zeros(df.shape[0] ,int)
time = np.zeros(df.shape[0] ,int)
year = np.zeros(df.shape[0] ,int)

for i range(0,df.shape[0]):
    dd,mm,yy = df.loc[i] and ['REGIS_DATE'] split "/"

SyntaxError: invalid syntax (Temp/ipykernel_592/3884627139.py, line 6)

In [1]:
import numpy as np
date = np.zeros(df.shape[0] ,int)
time = np.zeros(df.shape[0] ,int)
year = np.zeros(df.shape[0] ,int)

NameError: name 'df' is not defined